<div class="modal-header">
  <h3 class="modal-title" id="modal-title">I'm a modal 123!</h3>
</div>
<div class="modal-body" id="modal-body">
  <p class="text-info">
    Youth is not a time of life - it is a state of mind, it is a temper of the will,
    a quality of the imagination, a vigor of the emotions,
    a predominance of courage over timidity, of the appetite for adventure over love of ease.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.accept()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="vm.reject()">Cancel</button>
</div>